  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">查询</strong> / <small>客人信息</small></div>
      </div>

      <hr>
      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6 am-u-md-offset-6">
          <%= form_tag("/find", method: "post") do %>
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" placeholder="请输入身份证号" name="cardid">
          <span class="am-input-group-btn">
            <input type="submit" class="am-btn am-btn-default" value="搜索" id="touch">
          </span>
          </div>
          <% end %>
        </div>
        
        <% if $flag_find == 0 %>
    <table class="am-table am-table-striped am-table-hover table-main" id="s_tb">
    <thead>
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>身份证</th>
            <th>入住日期</th>
            <th>入住房间</th>
            <th>订单状态</th>
        </tr>
    </thead>
    <tbody>
        <% @guestinfo.each do |t| %>
        <tr>
            <td><%= t.姓名 %></td>
            <td><%= t.性别 %></td>
            <td><%= t.身份证 %></td>
            <td><%= t.入住时间 %></td>
            <td><%= t.入住房间 %></td>
            <td><%= t.订单状态 %></td>      
                
        </tr>
        <% end %>
    </tbody>
          </table> 
          <% end %>       

        <% if $flag_find == 1 %>
            <%= render 'shared/result' %>
            <% $flag_find = 0 %>
        <% end %>
      </div>      
    </div>  
  </div> 
 